name: Docker Image CI

on:
  workflow_dispatch:
  pull_request:
    branches: [ "main" ]

jobs:
  build-full-app:
    runs-on: ubuntu-latest

    env:
      DOCKER_BUILDKIT: 1

    steps:
      - uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build the full Docker image
        run: |
          docker buildx build \
            --progress=plain \
            --load \
            -t streamlitapp:latest \
            -f Dockerfile .
