name: Inspect OpenMS Artifact

on:
  workflow_dispatch:

jobs:
  use-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download ZIP from GitHub Release
        run: |
          curl -L \
            -o openms-package.zip \
            https://github.com/OWNER/REPO/releases/download/v1.0.0/openms-package.
            
      - name: List downloaded artifact contents
        run: |
          echo "Contents of openms-package:"
          ls -R openms-package

      
