name: Inspect OpenMS Release Package

on:
  workflow_dispatch:

jobs:
  use-release:
    runs-on: ubuntu-latest

    permissions:
      contents: read   # required to read release assets

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download OpenMS release asset
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh release download OpenMS_3_5_windows \
            --repo Arslan-Siraj/nuxl_webapp_supporting_files \
            --pattern "*.zip"

      - name: Verify downloaded file
        run: |
          ls -lh
          file *.zip
          unzip -t *.zip

      - name: Extract OpenMS package
        run: |
          unzip *.zip -d openms-package
          ls -R openms-package

      - name: Extract inner OpenMS package
        run: |
          unzip \
            openms-package/openms-package/OpenMS/bld/openms-package.zip \
            -d openms-inner

          ls -R openms-inner | head 10

      - name: Promote OpenMS bin and share to root
        run: |
          mkdir -p openms-bin openms-share

          cp -r openms-inner/bin/* openms-bin/
          cp -r openms-inner/share/* openms-share/

        
